openapi: 3.0.0
info:
  title: TMDB API
  version: '3.0'
  description: |-
    The TMDB API gives you access to movie, television, person, and account data over HTTP.

    Every request on this page runs against the live TMDB v3 API. Add your API Read Access Token in the **Authorization** panel to try any endpoint directly from the browser.

    New here? Start with [Getting started](/getting-started/prerequisites), then [Authentication](/authentication/overview).
  contact:
    name: TMDB API support
    url: https://www.themoviedb.org/talk/category/5047958519c29526b50017d6
  license:
    name: TMDB API Terms of Use
    url: https://www.themoviedb.org/api-terms-of-use
servers:
- url: https://api.themoviedb.org/3
  description: TMDB API v3 production server
tags:
- name: Authentication
  description: Create and manage the request tokens, user sessions, and guest sessions that authorize
    user-specific requests. Start here before calling any account endpoint.
- name: Account
  description: Read account details and manage the favorites, watchlists, ratings, and lists that belong
    to an authenticated TMDB user. Every endpoint in this group requires a v3 session ID.
- name: Search
  description: Find movies, TV shows, people, collections, companies, and keywords by text query. Use
    Search when you have a title or name; use Discover when you have filters.
- name: Discover
  description: Build filtered, sorted result sets without a search term. Combine genre, rating, language,
    certification, provider, and date filters to power browse and recommendation surfaces.
- name: Movies
  description: Retrieve movie details, credits, images, videos, keywords, reviews, release dates, translations,
    watch providers, recommendations, and ratings.
- name: Networks
  description: Look up television network details, images, and alternative names.
- name: Certifications
  description: Retrieve the official movie and TV content rating systems used in each country.
paths:
  /authentication/validate_key:
    get:
      tags:
      - Authentication
      summary: Validate key
      description: |-
        Validates your TMDB API credentials by confirming that the supplied API key or access token is recognized and authorized to access the TMDB API.

        > Note: You only need your Bearer token or API key for this endpoint.

        ## Common use cases

        - Verify API credentials during application setup.
        - Confirm that an API key or access token is valid.
        - Test API connectivity before making authenticated requests.
        - Troubleshoot authentication or configuration issues.
        - Validate credentials in automated deployment or CI/CD pipelines before running API-dependent tasks.

        ## Notes

        This endpoint only validates your API credentials. It does not create a user session or authenticate a TMDB user account.
      operationId: validateApiKey
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationValidationResponse'
              example:
                success: true
                status_code: 1
                status_message: Success.
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - Incorrect API key.
            - API key has been revoked.
            - Missing Authorization header.
            - Typographical error in the API key.

            **How to fix it**

            - Verify that the API key is correct.
            - Ensure the Bearer token is valid.
            - Check that the request is sent to the correct API version.
            - Confirm that the Authorization header is properly formatted.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                status_code: 7
                status_message: 'Invalid API key: You must be granted a valid key.'
  /authentication/token/new:
    get:
      tags:
      - Authentication
      summary: Create Request Token
      description: |-
        Generates a temporary request token used in the TMDB user authentication workflow.

        > Note: You only need your Bearer token or API key for this endpoint.

        ## Common use cases

        - Start the TMDB user authentication workflow.
        - Obtain user authorization before creating a session.
        - Enable access to user-specific endpoints such as Favorites, Watchlists, Ratings, and Account Details.
        - Authenticate users in applications that require personalized TMDB features.

        ## Authentication workflow

        After generating a request token:

        1. Open the following URL in your preferred browser:

        ```
        https://www.themoviedb.org/authenticate/{request_token}
        ```

        Replace `{request_token}` with the value returned by this endpoint.

        1. Sign in to TMDB (if prompted).
        2. Select **Approve** to authorize your application.
        3. Use the validated request token to create a user session.

        ## Notes

        - A request token **must be approved** before it can be exchanged for a session ID.
        - The approval step can be completed in a web browser.
        - The request token expires after a period of time. If this happens before approval or session creation, generate a new one.
        - An unapproved or expired request token cannot be used to create a session.

        Also, a request token alone does not authenticate a user. It simply initiates the authentication process.

        The complete workflow is:

        1. Validate API credentials
        2. Create request token
        3. Approve the returned token in a web browser
        4. Create session
        5. Use the session ID to access authenticated endpoints
      operationId: createRequestToken
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTokenResponse'
              example:
                success: true
                expires_at: '{{expires_at}}'
                request_token: '{{request_token}}'
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - Incorrect API key.
            - API key has been revoked.
            - Missing Authorization header.
            - Typographical error in the API key.

            **How to fix it**

            - Verify that the API key is correct.
            - Ensure the Bearer token is valid.
            - Check that the request is sent to the correct API version.
            - Confirm that the Authorization header is properly formatted.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                status_code: 7
                status_message: 'Invalid API key: You must be granted a valid key.'
  /authentication/session/new:
    post:
      tags:
      - Authentication
      summary: Create Session
      description: |-
        Creates a v3 `session_id` by exchanging a previously validated request token. The returned ID represents an authenticated TMDB user session and is required to access account-specific endpoints.

        > **Note**: This endpoint is the final step in the standard TMDB v3 authentication workflow.

        ## Prerequisites

        Before calling this API, ensure you have:

        - A valid request token generated using the **Create Request Token** endpoint.
        - A request token that has been validated through either:

            - the browser approval flow, or

            - the **Create Session (with Login)** (`validate_with_login`) endpoint.

        - A request token that has not expired or already been exchanged for a session.

        ## Common use cases

        - Complete the TMDB v3 authentication workflow.
        - Create an authenticated user session.
        - Access account-specific endpoints such as Favorites, Watchlists, Ratings, and Account Details.
        - Maintain an authenticated session across multiple API requests.
        - Enable personalized features within an application.

        ## Notes

        **Note:** A `session_id` represents an authenticated TMDB user session. Store it securely and reuse it for subsequent authenticated requests instead of creating a new session for every API call. If the user signs out or the session is no longer needed, invalidate it using the **Delete Session** endpoint.
      operationId: createSession
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_token:
                  type: string
                  description: A validated request token obtained during the authentication workflow.
              required:
              - request_token
            example:
              request_token: '{{request_token}}'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
              example:
                success: true
                session_id: '{{session_id}}'
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The request token is invalid.
            - The request token has expired.
            - The request token has not been approved or validated.
            - The request token has already been exchanged for a session.

            **How to fix it**

            - Generate a new request token if the current one has expired.
            - Validate the request token using either the browser approval flow or the Create Session (with Login) endpoint.
            - Retry the request using a valid, approved request token.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                status_code: 33
                status_message: Invalid request token.
  /authentication/guest_session/new:
    get:
      tags:
      - Authentication
      summary: Create Guest Session
      description: |-
        Creates a temporary guest session and returns a unique ID that allows users who are not signed in to perform supported actions, such as rating movies and TV shows.

        > Note: Guest sessions are intended for anonymous users and do not provide access to account-specific features such as favorites, watchlists, or account states. Also, guest sessions provide limited permissions and should not be used as a substitute for a standard authenticated user session.

        ## Common use cases

        - Allow anonymous users to rate movies or TV shows.
        - Support temporary user interactions without requiring account registration.
        - Enable quick onboarding experiences by postponing sign-in.
        - Collect ratings from users who do not wish to create a TMDB account.

        ## Guest session vs. standard user session

        | Guest session | Standard user session |
        | --- | --- |
        | Does not require a TMDB account. | Requires a TMDB account and user authentication. |
        | Uses a `guest_session_id`. | Uses a `session_id`. |
        | Supports a limited set of operations, such as rating content. | Supports all authenticated account features. |
        | Cannot access personal account data. | Can access favorites, watchlists, ratings, account states, and custom lists. |
        | Intended for anonymous users. | Intended for authenticated users. |

        The diagram below further expatiates on this:

        <img src="https://content.pstmn.io/4f6e0ea9-a563-46e7-9e29-953d6c9019fa/Xy0gdmlzdWFsIHNlbGVjdGlvbiAoMykucG5n" />
      operationId: createGuestSession
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestSessionResponse'
              example:
                success: true
                guest_session_id: '{{guest_session_id}}'
                expires_at: '{{expires_at}}'
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The Bearer token is missing or invalid.
            - The API Read Access Token has been revoked or is incorrectly configured.

            **How to fix it**

            - Verify that the Authorization header contains a valid Bearer token.
            - Confirm that your TMDB API credentials are active and correctly configured.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                status_code: 3
                status_message: 'Authentication failed: You do not have permissions to access the service.'
  /authentication/session/convert/4:
    post:
      tags:
      - Authentication
      summary: Create Session (from v4 token)
      description: |-
        Creates a v3 `session_id` using a user-authorized v4 access token.

        > **Note:** Unlike the standard **Create Session** endpoint, which exchanges a validated request token for a session, this endpoint creates a v3 session directly from a user-authorized v4 access token. Therefore, it is intended for applications that use the TMDB v4 authentication flow but still need a v3 session to access endpoints that require session-based authentication.

        ## Prerequisites

        Before calling this API, ensure you have:

        - A valid user-authorized v4 access token.
        - A v4 access token with write permission.

        > **Note:** Do not use your standard TMDB **Read Access Token**, as it is intended for application authentication and cannot be exchanged for a v3 session.

        ## Common use cases

        - Convert an authenticated v4 user session into a v3 session.
        - Access v3 endpoints that require a `session_id`.
        - Support applications that integrate both the TMDB v3 and v4 APIs.
        - Reuse an existing authenticated v4 user session without repeating the v3 authentication workflow.

        ## Notes

        - This endpoint is intended for applications using the TMDB v4 authentication workflow.
        - The supplied v4 access token must be authorized and include write permission.
        - A standard TMDB Read Access Token cannot be used to create a v3 session.
        - The returned `session_id` can be used with any v3 endpoint that requires session-based authentication.

        Also, most applications using only the TMDB v3 API do not need this endpoint. Use **Create Session** if you are following the standard v3 authentication workflow. This endpoint is primarily intended for applications that authenticate users through the TMDB v4 API but need to interact with v3 endpoints that require a `session_id`.
      operationId: createSessionFromV4Token
      security:
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
              required:
              - access_token
            example:
              access_token: '{{v4_access_token}}'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
              example:
                success: true
                session_id: '{{session_id}}'
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - A standard TMDB Read Access Token was supplied instead of a user-authorized v4 access token.
            - The v4 access token has not been granted write permission by the user.
            - The supplied access token is invalid or has expired.

            **How to fix it**

            - Create a new v4 request token.
            - Ask the user to authorize the token through the TMDB authorization flow.
            - Exchange the approved request token for a user-authorized v4 access token.
            - Retry the request using the authorized access token.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                status_code: 36
                status_message: This token hasn't been granted write permission by the user.
  /authentication/token/validate_with_login:
    post:
      tags:
      - Authentication
      summary: Create Session (with Login)
      description: |-
        Validates a previously generated request token using a TMDB username and password.

        ## Prerequisites

        Before calling this endpoint, ensure you have:

        1. A valid request token generated using the **Create Request Token** endpoint.
        2. A valid TMDB username and password for the user.
        3. A request token that has not expired.

        > **Note**: Once the request token has been successfully validated, it can be exchanged for a v3 session ID, allowing your application to access authenticated, user-specific resources such as account details, favorites, watchlists, ratings, and account states. Unlike the browser-based approval flow, this endpoint validates the request token programmatically by submitting the user's TMDB credentials directly to the API.

        ## Common use cases

        - Validate a request token without redirecting users to the TMDB website.
        - Support server-side authentication workflows.
        - Authenticate users before creating a session.
        - Prepare a validated request token for the **Create Session** endpoint.

        ## Browser approval vs. `validate_with_login`

        Both methods validate a request token before it is exchanged for a session ID.

        | Browser approval | `validate_with_login` |
        | --- | --- |
        | User approves the request token on the TMDB website. | User submits TMDB username and password directly to the API. |
        | No user credentials pass through your application. | User credentials are included in the request body. |
        | May redirect the user to TMDB. | Validation occurs entirely through the API. |
        | Returns a validated request token. | Returns a validated request token. |

        Both approaches produce the same result: a validated request token that can be used to create a session.

        <img src="https://content.pstmn.io/2e4d2b45-5e23-4878-a598-03ee86dbff78/QXV0aGVudGljYXRpb24gd29ya2Zsb3cgLSB2aXN1YWwgc2VsZWN0aW9uICgxKS5wbmc=" width="579" height="272" />

        ## Notes

        - This endpoint **does not create a session ID**.
        - A successfully validated request token must be passed to the **Create Session** endpoint to obtain a `session_id`.
        - If the request token expires before a session is created, generate a new token and repeat the validation process.
        - Once a request token has been successfully exchanged for a session, it cannot be reused.
      operationId: createSessionWithLogin
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The user's TMDB username.
                password:
                  type: string
                  description: The user's TMDB password.
                request_token:
                  type: string
                  description: The request token returned by the Create Request Token endpoint.
              required:
              - username
              - password
              - request_token
            example:
              username: YOUR_USERNAME
              password: YOUR_PASSWORD
              request_token: '{{request_token}}'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTokenResponse'
              example:
                success: true
                expires_at: '{{expires_at}}'
                request_token: '{{request_token}}'
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - Incorrect TMDB username.
            - Incorrect TMDB password.
            - Expired request token.
            - Request token has already been used or is invalid.

            **How to fix it**

            - Verify the user's TMDB credentials.
            - Generate a new request token if the existing one has expired.
            - Retry the validation request before creating a session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                status_code: 30
                status_message: Invalid username and/or password.
  /account:
    get:
      tags:
      - Authentication
      summary: Account Details
      description: |-
        Returns account metadata, including the account identifier required by many account-specific requests.

        > **Note**: Before calling this endpoint, you need a valid `session_id` that has not already expired. The session_id must be generated through the TMDB authentication workflow. Requests made with an invalid or expired session ID will return an authentication error.

        ## Common use cases

        - Retrieve the authenticated user's TMDB `account_id` required for subsequent account-related API requests.
        - Confirm that the authentication workflow has successfully established access to the user's account.
        - Use the returned account information when working with endpoints such as Favorites, Watchlists, Ratings, and Account Details.
      operationId: getAccountDetails
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The v3 session ID that identifies the authenticated user.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailsResponse'
              example:
                avatar: {}
                id: 12345678
                iso_639_1: en
                iso_3166_1: US
                name: John Doe
                username: johndoe
        '403':
          description: |-
            Forbidden. The credentials are valid but are not permitted to perform this action.

            **Possible causes**

            - Missing or invalid session_id.
            - Missing API key or Bearer token.
            - Incorrect request URL.
            - Temporary CloudFront or routing issue.

            **How to fix it**

            - Verify that the session_id is valid and has not expired.
            - Confirm that the request includes the required authentication.
            - Ensure the request is sent to:
            - GET /3/account

            See [Errors](/errors/overview) for the full list of TMDB status codes.
  /account/{account_id}:
    get:
      tags:
      - Account
      summary: Account Details
      description: |-
        Retrieves the public profile information for a specified TMDB account.

        ## Prerequisites

        - Before calling this endpoint, ensure you have:
        - Authenticated with the TMDB API using your Bearer token.
        - Completed the authentication workflow to obtain a valid `session_id`.
        - Retrieved your `account_id` using the **Get Account Details** endpoint in the **Authentication** collection (`GET /account`).
        - Used the returned `account_id` as the path parameter for this endpoint.

        > **Note**: This endpoint is typically called after the account ID has been obtained and is used to access additional account profile information.

        ## Common use cases

        - Retrieve a user's profile information.
        - Obtain account preferences such as language and region.
        - Display account details in an application.
        - Verify the authenticated account before performing account-specific operations.
        - Retrieve account metadata required by other Account endpoints.
      operationId: getAccountDetailsById
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: false
        description: The v3 session ID that identifies the authenticated user.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
              example:
                avatar:
                  gravatar:
                    hash: 205e460b479e2e5b48aec07710c08d50
                  tmdb:
                    avatar_path: /abc123.jpg
                id: 218
                iso_639_1: en
                iso_3166_1: US
                name: John Doe
                include_adult: false
                username: johndoe
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: &id001
                success: false
                status_code: 3
                status_message: 'Authentication failed: You do not have permissions to access the service.'
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: &id002
                success: false
                status_code: 34
                status_message: The resource you requested could not be found.
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/favorite:
    post:
      tags:
      - Account
      summary: Add Favorite
      description: |-
        Adds or removes a movie or TV show from an authenticated user's favorites.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.
        4. Identified the TMDB ID of the movie or TV show you want to update.

        ## Common use cases

        - Allow users to save favorite movies.
        - Allow users to save favorite TV shows.
        - Build personalized user profiles.
        - Synchronize favorite content across multiple devices.
        - Create "My Favorites" sections within an application.

        ## Notes

        This endpoint is **idempotent** with respect to the `favorite` field. Sending the same request multiple times with the same value (for example, `favorite: true` for an item that is already favorited) does not create duplicate entries. Likewise, setting `favorite` to `false` for an item that is not currently in the favorites list ensures it is not marked as a favorite. By specifying the media type, media identifier, and a boolean value indicating whether the item should be favorited, the endpoint allows applications to manage a user's favorites list.
      operationId: addFavorite
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                media_type:
                  type: string
                  description: The type of media. Accepted values are `movie` and `tv`.
                media_id:
                  type: integer
                  description: The TMDB identifier of the movie or TV show.
                favorite:
                  type: boolean
                  description: Determines whether the item is added to (`true`) or removed from (`false`)
                    the favorites list.
              required:
              - media_type
              - media_id
              - favorite
            example:
              media_type: movie
              media_id: 550
              favorite: true
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountActionResponse'
              example:
                success: true
                status_code: 1
                status_message: Success.
        '400':
          description: |-
            Bad request. TMDB rejected the request because a parameter or value was invalid.

            **Possible causes**

            - Missing media_type.
            - Missing media_id.
            - Missing favorite.
            - Invalid media_type (must be movie or tv).

            **How to fix it**

            - Ensure that all required request body fields are present, media_type is either movie or tv, and the JSON body is properly formatted.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: &id003
                success: false
                status_code: 18
                status_message: Validation failed.
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - Missing or invalid session_id.
            - Expired session.
            - Missing or invalid Bearer token.
            - The session_id does not belong to the specified account.

            **How to fix it**

            - Verify that the Bearer token is valid, the session_id is active, and the supplied account_id matches the authenticated user.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/favorite/movies:
    get:
      tags:
      - Account
      summary: Favorite Movies
      description: |-
        Retrieves a paginated list of movies that the authenticated user has marked as favorites.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        ## Common use cases

        - Display a user's favorite movies.
        - Synchronize favorite movies across multiple devices.
        - Build personalized movie recommendation features.
        - Allow users to browse and manage their saved favorites.
        - Populate a **My Favorite Movies** section in an application.

        ## Notes

        - Results are returned in a paginated format.
        - Only movies that the authenticated user has marked as favorites are returned.
        - If the user has not favorited any movies, the `results` array will be empty.
        - Use the `language` parameter to retrieve localized movie information.
        - Use the `sort_by` parameter to control the order in which favorites are returned.

        Tip: This endpoint is the counterpart to the **Add Favorite** endpoint. After adding or removing a movie from a user's favorites, you can call this endpoint to retrieve the updated favorites list and verify that the operation was successful.
      operationId: getFavoriteMovies
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: language
        in: query
        schema:
          type: string
          default: en-US
        description: Specifies the language used for localized movie information.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Specifies the page of results to retrieve.
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
        description: Specifies how the results should be sorted.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountMovieResponse'
              example:
                page: 1
                results:
                - id: 550
                  title: Fight Club
                  overview: A ticking-time-bomb insomniac...
                  release_date: '1999-10-15'
                  vote_average: 8.4
                  popularity: 89.7
                  poster_path: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                total_pages: 1
                total_results: 1
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/favorite/tv:
    get:
      tags:
      - Account
      summary: Favorite TV
      description: |-
        Retrieves a paginated list of TV shows that the authenticated user has marked as favorites.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        ## Common use cases

        - Display a user's favorite TV shows.
        - Synchronize favorite TV shows across multiple devices.
        - Build personalized TV show recommendation features.
        - Allow users to browse and manage their saved favorite TV shows.
        - Populate a **My Favorite TV Shows** section in an application.

        ## Notes

        - Results are returned in a paginated format.
        - Only TV shows that the authenticated user has marked as favorites are returned.
        - If the user has not favorited any TV shows, the `results` array will be empty.
        - Use the `language` parameter to retrieve localized TV show information.
        - Use the `sort_by` parameter to control the order in which favorite TV shows are returned.
      operationId: getFavoriteTV
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: language
        in: query
        schema:
          type: string
          default: en-US
        description: Specifies the language used for localized TV show information.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Specifies the page of results to retrieve.
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
        description: Specifies how the results should be sorted.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountTVResponse'
              example:
                page: 1
                results:
                - id: 1396
                  name: Breaking Bad
                  overview: When Walter White is diagnosed with cancer...
                  first_air_date: '2008-01-20'
                  vote_average: 8.9
                  popularity: 312.4
                  poster_path: /ggFHVNu6YYI5L9pCfOacjizRGt.jpg
                total_pages: 1
                total_results: 1
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/lists:
    get:
      tags:
      - Account
      summary: Lists
      description: |-
        Retrieves the custom lists created by an authenticated TMDB user. Custom lists allow users to organize movies into personalized collections based on their own themes, interests, or criteria.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        ## Common use cases

        - Display a user's custom movie lists.
        - Organize movies into themed or personalized collections.
        - Synchronize user-created lists across multiple devices.
        - Retrieve list metadata before requesting detailed list contents.
        - Build collection management features within an application.

        ## Notes

        - Only custom lists belonging to the authenticated account are returned.
        - Results are returned in a paginated format.
        - The response contains summary information for each list rather than the movies within the list.
        - Use the **List** endpoints to retrieve or manage the contents of a specific custom list.

        Tip: A **custom list** differs from a **favorites list** or **watchlist**. Favorites and watchlists are system-managed collections with predefined purposes, whereas custom lists allow users to create their own named collections and organize movies however they choose.

        For example, a user might create lists such as:

        - _Best Sci-Fi Movies_
        - _Films to Watch This Weekend_
        - _Oscar Winners_
        - _Classic Thrillers_

        These custom lists can then be retrieved and managed using the **List** endpoints.
      operationId: getAccountLists
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Specifies the page of results to retrieve.
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountListResponse'
              example:
                page: 1
                results:
                - id: 82145
                  name: Classic Thrillers
                  description: A collection of my favorite thriller movies.
                  item_count: 18
                  public: true
                total_pages: 1
                total_results: 1
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/rated/movies:
    get:
      tags:
      - Account
      summary: Rated Movies
      description: |-
        Retrieves a paginated list of movies that the authenticated user has rated on TMDB.

        ## Prerequisites

        Before calling this endpoint, ensure you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        ## Common use cases

        - Display a user's rated movies.
        - Synchronize movie ratings across multiple devices.
        - Allow users to review or update their ratings.
        - Build personalized recommendation features based on user ratings.
        - Analyze a user's movie preferences.

        ## Notes

        - Results are returned in a paginated format.
        - Only movies rated by the authenticated user are returned.
        - If the user has not rated any movies, the `results` array will be empty.
        - The `rating` field represents the score assigned by the authenticated user, while `vote_average` represents the average rating from all TMDB users.
        - Use the `language` parameter to retrieve localized movie information.

        Tip: This endpoint complements the **Rate Movie** and **Delete Movie Rating** endpoints. After submitting or removing a rating, you can call this endpoint to verify the updated list of rated movies and review the ratings associated with the authenticated account.

        Note: Unlike the Favorites endpoints, this endpoint returns a field that is unique and especially useful:

        - `vote_average` → the average rating from the TMDB community.
        - `rating` → **your authenticated user's personal rating**.

        The response includes movie metadata such as titles, overviews, release dates, posters, popularity scores, average community ratings, and the rating assigned by the authenticated user.

        This endpoint is useful for displaying or managing a user's movie ratings, reviewing previously rated content, and synchronizing ratings across devices.
      operationId: getRatedMovies
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: language
        in: query
        schema:
          type: string
          default: en-US
        description: Specifies the language used for localized movie information.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Specifies the page of results to retrieve.
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
        description: Specifies how the results should be sorted.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRatedMovieResponse'
              example:
                page: 1
                results:
                - id: 550
                  title: Fight Club
                  overview: A ticking-time-bomb insomniac...
                  release_date: '1999-10-15'
                  vote_average: 8.4
                  rating: 9.5
                  poster_path: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                total_pages: 1
                total_results: 1
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/rated/tv:
    get:
      tags:
      - Account
      summary: Rated TV
      description: |-
        Retrieves a paginated list of TV shows that the authenticated user has rated on TMDB.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        ## Common use cases

        - Display a user's rated TV shows.
        - Build a viewing history or activity page.
        - Generate personalized TV recommendations based on user ratings.
        - Synchronize user ratings across multiple devices.
        - Allow users to review and manage their submitted ratings.

        ## Notes

        - Results are returned in a paginated format.
        - Only TV shows rated by the authenticated user are returned.
        - If the user has not rated any TV shows, the `results` array will be empty.
        - The `rating` field represents the score assigned by the authenticated user, while `vote_average` represents the average rating from all TMDB users.
        - Use the `language` parameter to retrieve localized TV show information.

        Tip: This endpoint complements the **Rate TV Show** and **Delete TV Show Rating** endpoints. After submitting, updating, or removing a rating, you can call this endpoint to retrieve the latest list of rated TV shows and verify that the changes have been applied successfully. You can also use it to synchronize rating data across multiple devices or applications. The response includes TV show metadata such as titles, overviews, first air dates, popularity scores, average community ratings, and the rating assigned by the authenticated user.
      operationId: getRatedTV
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: language
        in: query
        schema:
          type: string
          default: en-US
        description: Specifies the language used for localized TV show information.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Specifies the page of results to retrieve.
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
        description: Specifies how the results should be sorted.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRatedTVResponse'
              example:
                page: 1
                results:
                - id: 1396
                  name: Breaking Bad
                  overview: When Walter White is diagnosed with cancer...
                  first_air_date: '2008-01-20'
                  vote_average: 8.9
                  rating: 10
                  popularity: 312.4
                  poster_path: /ggFHVNu6YYI5L9pCfOacjizRGt.jpg
                total_pages: 1
                total_results: 1
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/rated/tv/episodes:
    get:
      tags:
      - Account
      summary: Rated TV Episodes
      description: |-
        Retrieves a paginated list of TV episodes that the authenticated user has rated on TMDB.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        ## Common use cases

        - Display a user's rated TV episodes.
        - Track episode-specific viewing activity.
        - Build personalized recommendations based on episode ratings.
        - Synchronize user ratings across multiple devices.
        - Allow users to review and manage ratings for individual episodes.

        ## Notes

        - Results are returned in a paginated format.
        - Only TV episodes rated by the authenticated user are returned.
        - If the user has not rated any TV episodes, the `results` array will be empty.
        - The `rating` field represents the score assigned by the authenticated user, while `vote_average` represents the average rating from all TMDB users.
        - Use the `language` parameter to retrieve localized episode information.

        Tip: Unlike the **Rated TV Shows** endpoint, which returns ratings for an entire series, this endpoint returns ratings for **individual episodes**. This distinction is useful for applications that track viewing progress, display episode-specific feedback, or analyze user engagement at a more granular level. The response includes episode-specific metadata such as the episode name, season number, episode number, air date, overview, average community rating, and the rating assigned by the authenticated user.
      operationId: getRatedTVEpisodes
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: language
        in: query
        schema:
          type: string
          default: en-US
        description: Specifies the language used for localized episode information.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Specifies the page of results to retrieve.
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
        description: Specifies how the results should be sorted.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRatedTVEpisodeResponse'
              example:
                page: 1
                results:
                - id: 62085
                  name: Pilot
                  season_number: 1
                  episode_number: 1
                  air_date: '2008-01-20'
                  overview: Walter White begins his transformation...
                  vote_average: 8.8
                  rating: 9.5
                  still_path: /abc123xyz.jpg
                total_pages: 1
                total_results: 1
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/watchlist/movies:
    get:
      tags:
      - Account
      summary: Watchlist Movies
      description: |-
        Retrieves a paginated list of movies that the authenticated user has added to their watchlist.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        ## Common use cases

        - Display a user's saved movies.
        - Build a personalized **Watch Later** feature.
        - Synchronize watchlists across multiple devices.
        - Help users manage movies they plan to watch.
        - Recommend content based on a user's planned viewing list.

        ## Notes

        - Results are returned in a paginated format.
        - Only movies added to the authenticated user's watchlist are returned.
        - If the watchlist is empty, the `results` array will be empty.
        - Use the `language` parameter to retrieve localized movie information.
        - Use the `sort_by` parameter to control the order in which watchlisted movies are returned.

        Tip: A **watchlist** is different from **favorites**. A watchlist is intended for movies that a user plans to watch in the future, while favorites represent movies the user has already watched and chosen to save because they particularly enjoyed them. The response includes movie metadata such as titles, overviews, release dates, popularity scores, average user ratings, and poster information.
      operationId: getWatchlistMovies
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: language
        in: query
        schema:
          type: string
          default: en-US
        description: Specifies the language used for localized movie information.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Specifies the page of results to retrieve.
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
        description: Specifies how the results should be sorted.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountMovieResponse'
              example:
                page: 1
                results:
                - id: 550
                  title: Fight Club
                  overview: A ticking-time-bomb insomniac...
                  release_date: '1999-10-15'
                  vote_average: 8.4
                  popularity: 89.7
                  poster_path: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                total_pages: 1
                total_results: 1
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/watchlist:
    post:
      tags:
      - Account
      summary: Add to Watchlist
      description: |-
        Adds or removes a movie or TV show from an authenticated user's watchlist.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        The request body must include:

        - `media_type` (`movie` or `tv`)
        - `media_id`
        - `watchlist`

        ## Common use cases

        - Allow users to save movies and TV shows for future viewing.
        - Remove items after they have been watched.
        - Synchronize watchlists across multiple devices.
        - Build personalized **Watch Later** experiences.
        - Enable users to manage their planned viewing list.

        ## Notes

        - Setting `watchlist` to `true` adds the specified movie or TV show to the user's watchlist.
        - Setting `watchlist` to `false` removes the item from the watchlist.
        - Only authenticated users can modify their watchlist.
        - Use the **Watchlist Movies** and **Watchlist TV** endpoints to retrieve the updated watchlist after making changes.

        Tip: This endpoint updates a user's watchlist but does not return the updated list of watchlisted items. After successfully adding or removing a movie or TV show, call the **Watchlist Movies** or **Watchlist TV** endpoint to retrieve the current contents of the user's watchlist and confirm that the change has been applied.
      operationId: addToWatchlist
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                media_type:
                  type: string
                  description: The type of media to update. Accepted values are `movie` and `tv`.
                media_id:
                  type: integer
                  description: The TMDB ID of the movie or TV show.
                watchlist:
                  type: boolean
                  description: Set to `true` to add the item to the watchlist or `false` to remove it.
              required:
              - media_type
              - media_id
              - watchlist
            example:
              media_type: movie
              media_id: 550
              watchlist: true
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountActionResponse'
              example:
                success: true
                status_code: 1
                status_message: Success.
        '400':
          description: |-
            Bad request. TMDB rejected the request because a parameter or value was invalid.

            **Possible causes**

            - Missing media_type.
            - Missing media_id.
            - Missing watchlist.
            - Invalid media_type (must be movie or tv).

            **How to fix it**

            - Ensure that the request body is valid JSON and includes all required fields. Verify that media_type is either movie or tv, media_id is a valid TMDB identifier, and watchlist is a Boolean value.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id003
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - Missing or invalid session_id.
            - Expired session.
            - Missing or invalid Bearer token.
            - The session_id does not belong to the specified account.

            **How to fix it**

            - Verify that the Bearer token is valid, ensure the session_id is active, and confirm that the supplied account_id matches the authenticated user.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the reques

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /account/{account_id}/watchlist/tv:
    get:
      tags:
      - Account
      summary: Watchlist TV
      description: |-
        Retrieves a paginated list of TV shows that the authenticated user has added to their watchlist.

        ## Prerequisites

        Before calling this endpoint, ensure you have:

        1. Completed the TMDB authentication workflow.
        2. Obtained a valid `session_id`.
        3. Retrieved the authenticated user's `account_id`.

        ## Common use cases

        - Display a user's saved TV shows.
        - Build a personalized **Watch Later** feature for TV content.
        - Synchronize TV watchlists across multiple devices.
        - Help users manage TV shows they intend to watch.
        - Recommend content based on a user's planned viewing list.

        ## Notes

        - Results are returned in a paginated format.
        - Only TV shows added to the authenticated user's watchlist are returned.
        - If the watchlist is empty, the `results` array will be empty.
        - Use the `language` parameter to retrieve localized TV show information.
        - Use the `sort_by` parameter to control the order in which watchlisted TV shows are returned.

        Tip: This endpoint retrieves the current contents of a user's TV watchlist. To add or remove TV shows from the watchlist, use the **Add to Watchlist** endpoint. After successfully updating the watchlist, call this endpoint to retrieve the latest watchlisted TV shows and confirm that the changes have been applied. The response includes TV show metadata such as the series name, overview, first air date, popularity score, average community rating, and poster information.
      operationId: getWatchlistTV
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        description: Your TMDB account ID. Retrieve it from the Get Account Details endpoint.
        schema:
          type: integer
          example: 21857592
      - name: language
        in: query
        schema:
          type: string
          default: en-US
        description: Specifies the language used for localized TV show information.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Specifies the page of results to retrieve.
      - name: session_id
        in: query
        schema:
          type: string
        example: '{{session_id}}'
        required: true
        description: The authenticated user's session identifier.
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
        description: Specifies how the results should be sorted.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountTVResponse'
              example:
                page: 1
                results:
                - id: 1396
                  name: Breaking Bad
                  overview: When Walter White is diagnosed with terminal cancer...
                  first_air_date: '2008-01-20'
                  vote_average: 8.9
                  popularity: 312.4
                  poster_path: /ggFHVNu6YYI5L9pCfOacjizRGt.jpg
                total_pages: 1
                total_results: 1
        '401':
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - The session_id is invalid or has expired.
            - The session_id does not belong to the specified account.
            - The Bearer token is missing or invalid.

            **How to fix it**

            - Verify that a valid session_id is included in the request.
            - Ensure the session_id was created through the TMDB authentication workflow.
            - Confirm that the supplied account_id corresponds to the authenticated session.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id001
        '404':
          description: |-
            Not found. TMDB has no resource matching the supplied identifier or path.

            **Possible causes**

            - The specified account_id does not exist.
            - The account_id is invalid or incorrectly formatted.

            **How to fix it**

            - Retrieve the correct account_id from the Authentication collection before retrying the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: *id002
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
      example: '{{account_id}}'
  /certification/movie/list:
    get:
      tags:
      - Certifications
      summary: Movie Certifications
      description: |-
        Retrieves the list of official movie certification ratings supported by TMDB.

        ## Common use cases

        - Display movie age ratings in an application.
        - Filter movie results by certification using the **Discover Movies** endpoint.
        - Build parental control or age-restriction features.
        - Interpret certification values returned by movie-related endpoints.
        - Configure region-specific content filtering.

        ## Notes

        - This endpoint does not require a `movie_id`.
        - Certification ratings are grouped by ISO 3166-1 country codes (for example, `US`, `GB`, `DE`, and `FR`).
        - Certification systems vary by country, so the available ratings differ between regions.
        - The returned certification values can be used with endpoints such as **Discover Movies** to filter content based on regional age ratings.

        Tip: This endpoint returns the available movie certification systems used by each country—it does not return the certification assigned to a specific movie.

        For example:

        - Calling this endpoint tells you that the United States uses certifications such as **G**, **PG**, **PG-13**, and **R**.
        - To retrieve the certification assigned to a particular movie, use the **Movie Release Dates** endpoint, which returns country-specific release information along with the movie's certification.
      operationId: getMovieCertifications
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificationListResponse'
              example:
                certifications:
                  US:
                  - certification: G
                    meaning: All ages admitted.
                    order: 1
                  - certification: PG
                    meaning: Parental guidance suggested.
                    order: 2
                  - certification: PG-13
                    meaning: Parents strongly cautioned.
                    order: 3
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |-
            Unauthorized. TMDB could not validate the credentials, token, or session supplied with the request.

            **Possible causes**

            - Missing or invalid Bearer token.
            - Invalid or revoked API key.
            - Incorrectly formatted Authorization header.

            **How to fix it**

            - Verify that a valid Bearer token or API key is included in the request and that the authentication credentials have not expired or been revoked.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
  /certification/tv/list:
    get:
      tags:
      - Certifications
      summary: TV Certifications
      description: |-
        The **TV Certifications** endpoint retrieves an up-to-date list of officially supported TV show certifications on TMDB.

        A successful request returns a `200 OK` response containing a `certifications` object.

        The `certifications` object is organized by country or region code. Each country contains an array of certification objects.

        ## Prerequisites

        Before calling this endpoint, ensure that you have:

        1. The `base_url` environment variable configured correctly.
        2. The Authorization header configured with your valid Bearer token.

        ## Common use cases

        - Display available TV content ratings.
        - Build a TV certification or parental-control filter.
        - Map TMDB TV certification codes to user-facing descriptions.
        - Retrieve the rating systems supported for different countries or regions.

        ## Notes

        - The endpoint returns certification information rather than individual TV shows.
        - Certification data is grouped by country or region.
        - The certification list may be updated as TMDB updates its supported rating systems.
      operationId: getTVCertifications
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificationListResponse'
              example:
                certifications:
                  US:
                  - certification: TV-Y
                    meaning: This program is designed to be appropriate for all children.
                    order: 1
                  - certification: TV-Y7
                    meaning: This program is designed for children age 7 and above.
                    order: 2
                  - certification: TV-G
                    meaning: Most parents would find this program suitable for all ages.
                    order: 3
  /search/collection:
    get:
      tags:
      - Search
      summary: Collection
      description: |-
        Searches TMDB collections using their original, translated, or alternative names.

        **Note:** `poster_path` and `backdrop_path` are image paths rather than complete image URLs. Your application can combine these paths with TMDB's image base URL to construct the corresponding image URL.

        ## Common use cases

        - Search for movie franchises or series.
        - Display collection suggestions as users type.
        - Retrieve collection metadata before requesting collection details.
        - Navigate users to related movies within a franchise.

        ## Notes

        - Returns results that match the collection's original, translated, or alternative names.
        - Results are paginated and support the `page` query parameter.
        - Only collection metadata is returned.
        - Collections represent groups of related movies that belong to the same franchise or series, such as trilogies or cinematic universes.
      operationId: searchCollections
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: Harry Potter
        description: Searches for the Harry Potter Collection.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        description: Returns a specific page of search results.
        example: '1'
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: Specifies the language of the returned results.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCollectionSearchResponse'
              example:
                page: 1
                results:
                - id: 10
                  name: Star Wars Collection
                  overview: An epic space opera franchise...
                  poster_path: /abc123.jpg
                  backdrop_path: /xyz456.jpg
                total_pages: 1
                total_results: 1
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |-
            Bad request. TMDB rejected the request because a parameter or value was invalid.

            **Possible causes**

            - The query parameter is missing.
            - The query parameter is empty.
            - The request contains an invalid query value.

            **How to fix it**

            - Provide a valid search term in the query parameter and retry the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
  /search/company:
    get:
      tags:
      - Search
      summary: Company
      description: |-
        Searches TMDB production companies using their original or alternative names. Production companies are organizations involved in the creation, financing, or distribution of movies and TV shows.

        **Note:** `logo_path` is an image path rather than a complete image URL. Your application must combine it with TMDB's image base URL to display the company's logo.

        ## Common use cases

        - Search for production companies by name.
        - Display production company information within an application.
        - Retrieve a company's TMDB ID for subsequent Company API requests.
        - Build search and autocomplete functionality for production companies.

        ## Notes

        - Results are paginated and support the `page` query parameter.
        - Returns company metadata only. Use the **Company Details** endpoint to retrieve additional information about a specific company.
      operationId: searchCompanies
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: Pixar
        description: The name or keyword used to search for production companies. Searches are performed
          against company names.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        example: '1'
        description: Returns a specific page of search results.
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: Specifies the language of the returned results.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCompanySearchResponse'
              example:
                page: 1
                results:
                - id: 3
                  name: Pixar
                  origin_country: US
                  logo_path: /1TjvGVDMYsj6JBxOAk82vT6mFjT.png
                total_pages: 1
                total_results: 1
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |-
            Bad request. TMDB rejected the request because a parameter or value was invalid.

            **Possible causes**

            - The query parameter is missing.
            - The query parameter is empty.
            - The request contains an invalid query value.

            **How to fix it**

            - Provide a valid company or keyword in the query parameter and retry the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
  /search/keyword:
    get:
      tags:
      - Search
      summary: Keyword
      description: |-
        Searches TMDB keywords by name. Keywords are descriptive tags that represent themes, topics, locations, events, or other notable attributes and are associated with movies and TV shows.

        **Note:** Keywords provide more specific themes, concepts, or descriptive tags than genres. For example, you can use`superhero, time travel`, or `space travel` as keywords to describe specific aspects of a movie.

        ## Common use cases

        - Search for keywords by name.
        - Retrieve a keyword's TMDB ID for use in other API requests.
        - Filter movies or TV shows by theme or topic using Discover endpoints.
        - Build keyword search or autocomplete functionality.

        ## Notes

        - Returns keywords that match the supplied search query.
        - Results are paginated and support the `page` query parameter.
        - The returned keyword ID can be used with other TMDB endpoints, such as **Discover Movies** and **Discover TV**, to filter content by keyword.
      operationId: searchKeywords
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: superhero
        description: The keyword used to search for TMDB keywords.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        example: '1'
        description: Returns a specific page of search results.
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: Specifies the language of the returned results.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedKeywordSearchResponse'
              example:
                page: 1
                results:
                - id: 9715
                  name: superhero
                total_pages: 1
                total_results: 1
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |-
            Bad request. TMDB rejected the request because a parameter or value was invalid.

            **Possible causes**

            - The query parameter is missing.
            - The query parameter is empty.
            - The request contains an invalid query value.

            **How to fix it**

            - Provide a valid keyword in the query parameter and retry the request.

            See [Errors](/errors/overview) for the full list of TMDB status codes.
  /search/movie:
    get:
      tags:
      - Search
      summary: Movie
      description: |-
        Searches TMDB movies using their original, translated, or alternative titles.

        Note: In this example, TMDB found one matching movie, _Inception_, with a TMDB movie ID of `27205`.

        ## Common use cases

        - Search for movies by title.
        - Build search and autocomplete functionality.
        - Retrieve a movie's TMDB ID for use with Movie endpoints.
        - Filter search results by release year, language, or region.
        - Allow users to quickly locate movies within an application.

        ## Notes

        - Results are returned in a paginated format and support the `page` query parameter.
        - Optional parameters such as `language`, `region`, `year`, `primary_release_year`, and `include_adult` can be used to refine search results.
        - Each movie includes a unique TMDB ID that can be used with Movie endpoints to retrieve detailed information.

        **Important:** The `release_date` field may be empty when TMDB does not have a release date for a movie. Similarly, some metadata may vary depending on the information available for the movie and the language or region specified in the request.
      operationId: searchMovies
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: Inception
        description: The movie title or keyword to search for.
      - name: include_adult
        in: query
        schema:
          type: boolean
          default: false
        example: 'false'
        description: Determines whether adult content is included in the results.
      - name: language
        in: query
        schema:
          type: string
          default: en-US
        example: en-US
        description: Specifies the language of the returned results.
      - name: primary_release_year
        in: query
        schema:
          type: string
        example: '2010'
        description: Filters results by the movie's primary release year.
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
        example: '1'
        description: Returns a specific page of search results.
      - name: region
        in: query
        schema:
          type: string
        example: US
        description: Filters results based on a specific country or region.
      - name: year
        in: query
        schema:
          type: string
        example: '2010'
        description: Filters results by release year.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMovieSearchResponse'
              example:
                page: 1
                results:
                - id: 27205
                  title: Inception
                  release_date: '2010-07-15'
                  overview: A skilled thief is given a chance at redemption...
                  vote_average: 8.4
                  popularity: 102.5
                total_pages: 1
                total_results: 1
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |-
            Bad request. TMDB rejected the request because a parameter or value was invalid.

            **Possible causes**

            - The query parameter is missing.
[...]
